<div class="outer-wrapper">
  <div class="container">
    <div class="well">
        <h4>Entry Details</h4>
        <ul>
          <li>Client: <%= @event.project.client.name%> </li>
          <li>Project: <%= @event.project.name%></li>
          <li>Description: <%= @event.title%></li>
          <li>Date: <%= @event.start.strftime('%m/%d/%Y')%></li>
          <li>Duration: <%= @event.duration_hours%> hours</li>
        </ul>
    </div>
  </div>
</div>
