
<table  class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Project</th>
      <th>No.</th>
      <th>Client</th>
      <th>Date </th>
      <th>Description </th>
      <th>Duration</th>
      <th>Phase</th>
    </tr>
  </thead>
  <tbody class="project-index">
    <% @events.each do |event|%>
      <tr>
        <td> <%= event.project.name %></td>
        <td> <%= event.project.number %></td>
        <td> <%= event.project.client.name %></td>
        <td> <%= event.start.strftime('%m/%d/%Y')%></td>
        <td> <%= event.title %></td>
        <td> <%= event.duration_hours %> hours</td>
        <td> <%= event.phase%></td>
      </tr>
    <%end%>
  </tbody>
</table>
Total: <%= @duration%> Hours</br>
Submit Timesheet
<%= link_to "PDF", timesheet_path(format: "pdf") %> |
