<body>
  <h1> Festina Lente | Swift Solutions </h1>
  <hr>
  <h3> Expenses for <%=@current_user.first_name%> <%=@current_user.last_name %></h3>


<table  class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>No.</th>
      <th>Client</th>
      <th>Vendor </th>
      <th>Description </th>
      <th>Cost</th>
      <th>Mileage </th>
    </tr>
  </thead>
  <tbody class="project-index">
    <% @expenses.each do |expense|%>
      <tr>
        <td> <%= expense.project.number %></td>
        <td> <%= expense.project.client.name %></td>
        <td> <%= expense.vendor %></td>
        <td> <%= expense.description %></td>
        <td> $<%= expense.amount || "N/A"%></td>
        <td> <%= expense.mileage  || "N/A" %></td>
      </tr>
    <%end%>
  </tbody>
</table>
<h4> Total: $ <%= @total %> </br></h4>


<p> Created at: <%= DateTime.now %></p>
